<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weryfikacja konta</title>
</head>
<body style="background-color:#F4F3F2; font-family: Roboto, sans-serif;">

<table style="background-color:#F4F3F2; margin: auto;">
    <tr>
        <td>
            <table style="background-color:#FFFFFF; padding:40px; text-align:justify;">
                <tr>
                    <td style="font-size:20px; font-weight:500; color:#333333; line-height:1.4; padding-bottom:20px;">
                        Weryfikacja konta w AurorumClinic
                    </td>
                </tr>
                <tr>
                    <td style="font-size:16px; color:#333333; line-height:1.5; padding-bottom:30px;">
                        Naciśnij link aby zweryfikować swoje konto
                    </td>
                </tr>
                <tr>
                    <td style="padding-bottom:12px;">
                        <a th:href="${verificationLink}"
                           style="display:block; width:auto;  background-color:#76227D; color:#FFFFFF; text-decoration:none; font-size:15px; font-weight:500; text-align:center; padding:14px; border-radius:4px;">
                            zweryfikuj konto
                        </a>
                    </td>
                </tr>
                <tr>
                    <td style="font-size:12px; color:#666666; line-height:1.4; padding-top:10px;">
                        Wiadomość została wygenerowana automatycznie. Prosimy na nią nie odpowiadać. <br/>
                        W celu kontaktu z placówką prosimy wysłać wiadomość na adres
                        <b>support@aurorumclinic.pl</b> lub kontakt telefoniczny.
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>
